body {
    margin-top: 20px;
    background-image: url("img/bg.png");
    background-repeat: repeat;
    justify-content: center;
}

#formAdm {
    text-align: center;
}

.connectInput {
    height: 20px;
}