body {
    margin-top: 20px;
    background-image: url("img/bg.png");
    background-repeat: repeat;
}

.separator {
    background-color: #c5c5c5;
    width: 2px;
}

.eventsMatin,
.eventsAprem {
    padding: 5px 5px 5px 5px;
    background-color: #f8f8f8;
    text-align: center;
    border-radius: 8px;
    width: 150px;
}

.eventsMatin:hover,
.eventsAprem:hover {
    box-shadow: 2px 2px 5px black;
}

.daysWeek {
    height: 80px;
    width: 110px;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    background-color: rgb(87, 188, 227);
    text-transform: uppercase;
    border-radius: 10px;
    color: white;
}

.daysWeek:hover {
    background-color: rgb(71, 155, 188);
}

.table {
    margin-left: 15px;
}

.bg-light-gray {
    background-color: #c5c5c5;
}

.eventName,
.eventDescrip,
.eventPlace,
.eventHour,
.eventTheme,
.eventAddr,
.consref {
    margin: auto;
}

.eventName {
    color: rgb(175, 0, 0);
    margin-top: 5px;
    font-size: 13px;
}

.consref {
    font-size: 10px;
}

.eventDescrip {
    font-size: 10px;
}

.eventHour {
    font-size: 12px;
}

.eventPlace {
    font-size: 12px;
}

.eventAddr {
    font-size: 10px;
}

.eventTheme {
    border-radius: 10px;
    width: 80%;
    text-transform: uppercase;
    color: white;
}

table {
    border-spacing: 10px 2rem;
}

.table-bordered td,
.table-bordered th {
    border: 2px solid rgb(70, 70, 70);
}

.emploi {
    background-color: rgb(213, 213, 50);
}

.mobilite {
    background-color: purple;
}

.logement {
    background-color: rgb(245, 91, 119);
}

.infos {
    background-color: #c5c5c5;
}

.culture {
    background-color: rgb(114, 20, 20);
}

.sante {
    background-color: green;
}

.sport {
    background-color: rgb(3, 3, 182);
}

.citoy {
    background-color: orangered;
}